::selection{ background-color: #E13300; color: white; }
	::moz-selection{ background-color: #E13300; color: white; }
	::webkit-selection{ background-color: #E13300; color: white; }

*{
	font-family: helvetica, arial, verdana;
}


body{
	background-color: #FFFFFF;
	color: #A0A0A0;
}

p{
	text-align: center;
	font-size: 12px;
}

/* Header */

.encabezado{
	border: 1px solid #D8D8D8;
	padding: 0;
}

.image{
	display: block;
	padding-left: 10px;
	width: 303px;
	height: 142px;
}
/* Section */

.sect{
	padding: 0;
	border-left: 1px solid #D8D8D8;
	border-right: 1px solid #D8D8D8;
}

.form{
	display:block;
    padding:10px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    color: #666666;
    font-family:Arial;
}


#titulo{
	width: auto;
	height: 20px;
	background: linear-gradient(to bottom, #0000CC, #0000CC, #000055, #0000AA);
	padding: 10px 0 10px 10px;
	text-align: left;
	color: #EEEEEE;
}

#contenido{
	width: auto;
	padding: 10px;
	border: 1px solid #C7C7C7;
}

#boton{
	text-align: center;
}

.lab{
	width: 270px;
	height: 20px;
	margin: 5px;
	text-align: left;
}

.box{
	width: 270px;
	height: 20px;
	font-size: 12px;
	margin: 5px;
	text-align: left;
	border: 1px solid #C7C7C7;
}
.box:hover{
	border: 1px solid #009999;
}

.box:focus{
	border: 1px solid #00EE00;
}

.box2{
	width: 300px;
	height: 50px;
	font-size: 12px;
	text-align: left;
	border: 1px solid #C7C7C7;
}

.links{
	text-decoration: none;
}

.links:hover{
	color: #0000FF;
	cursor: pointer;
}

.foot{
	text-decoration: none;

}

.foot:hover{

	color: #0000FF;
	cursor: pointer;
}

.header ul{
	font-size: 12px;
	float: right;
	list-style: none;
	margin-right: 50px;
	
}
.header ul li{
	padding: 2px;
}

.header ul li:hover{
	color: #0000FF;
	cursor: pointer;
}

/* Footer */

.footer{
	font-size: 12px;
	padding: 1px;
	border: 1px solid #D8D8D8;
}

.footer ul{
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

.footer ul li{
	float:left;
	padding: 10px;
}

.footer ul a{
	text-decoration: none;
	color: #A0A0A0;
}

.footer ul a:hover{
	color: #0000FF;
}

.footer ul li:hover{
	color: #0000FF;
	cursor: pointer;
}

#center{
	text-align: center;
}

#submit{
	width: 150px;
	margin: 0;
	padding: 10px;
	border-radius: 3px;
	border: 1px solid #00CC00;
	cursor: pointer;
	color: #FFFFFF;
	background: linear-gradient(to bottom, #00CC00, #00AA00);
	text-align: center;
}

#submit:hover{
	background: linear-gradient(to bottom, #00EE00, #00CC00);
	outline: 0;
}

#submit:active{
	background: linear-gradient(to bottom, #00AA00, #00CC00);
	position:relative;
	top:1px;
}